<div class="flex flex-col justify-between p-6 flex-shrink-0 w-5/6 sm:w-2/5 aspect-[4/5] lg:aspect-[5/3] lg:w-auto border border-gray rounded-md bg-white relative after:block after:bg-gray after:absolute after:inset-0 after:-z-10 after:translate-x-1.5 after:translate-y-1.5 after:rounded-md">
	<div>
		<img src="{{theme.link}}/src/images/icons/icon-{{icon}}.svg" alt="icon {{text}}">
	</div>
	<h3 class="leading-tight">
		<span class="font-bold text-[3.25rem] lg:text-4xl">{{value}}</span><br>
		{{text}}
	</h3>
</div>
